<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Renderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RendererTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SanAntonio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Trinidad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TrinidadTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>495805B614C57683002AC459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498954FB17D9CF590036F5AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4989551417D9CF5B0036F5AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4989554517DB259E0036F5AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4989557317DB25A10036F5AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498BCE211471073700B4ED2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
